.brand-nav a:before
{
	display: none;
}

.partner-brand-logo
{
	margin-top: 0px !important;
	//transform: scale(0.8); 
	//margin-left: -17px;
	width: 147.667px !important;
	height: auto !important;

	@media screen and (max-width: 640px) {
		//transform: scale(0.8);

		//margin-top: 8px !important;
	}

	@media screen and (max-width: 500px) {
		//transform: scale(0.8);
		height: 100% !important;
		width: auto !important;
		//margin-top: 8px !important;
	}
}

div.header__content__container
{
	@media screen and (max-width: 320px) {
		transform: scale(0.8);
	}
}

h2.social
{
	@media screen and (max-width: 320px) {
		//transform: scale(0.8);

		font-size: 35px;
	}
}

// .owl-prev, .owl-next
// {
// 	font-family: 'Poppins' !important;
// }



.gallery.small.odd .layout
{
	width: 500px;
}

#map-chasseral-dot,
#map-midi-dot,
#map-nendaz-dot,
#map-glacier3000-dot,
#map-gastlosen-dot,
#map-chasseral-txt,
#map-midi-txt,
#map-nendaz-txt,
#map-glacier3000-txt,
#map-gastlosen-txt
{
	cursor: pointer;
	//transform-origin: 50% 50% !important;
}

#map-chasseral-dot:hover,
#map-midi-dot:hover,
#map-nendaz-dot:hover,
#map-glacier3000-dot:hover,
#map-gastlosen-dot:hover
{
	//transform: scale(1.2);
}

#map2 #map-chasseral-dot .st4.is-red
{
	fill: #C31622 !important;

	&.is-disabled { fill: #b9b9b9 !important;}
}

#map2 #map-nendaz-dot .st4.is-red
{
	fill: #C31622 !important;

	&.is-disabled { fill: #b9b9b9 !important;}
}

#map2 #map-midi-dot .st4.is-red
{
	fill: #C31622 !important;

	&.is-disabled { fill: #b9b9b9 !important;}
}

#map2 #map-glacier3000-dot .st4.is-red
{
	fill: #C31622 !important;

	&.is-disabled { fill: #b9b9b9 !important;}
}

#map2 #map-gastlosen-dot .st4.is-red
{
	fill: #C31622 !important;

	&.is-disabled { fill: #b9b9b9 !important;}
}


// #map2 
// {
// 	opacity: 0.25;
// 	transition: all 0.2s;
// 	&:hover
// 	{
// 		opacity: 1;
// 		transition: all 0.2s;
// 	}
// }


